.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 30px;
  margin: 25px;
}
.loader {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  margin: auto;
  right: 34%;
}
@media screen and (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
